.recentProductsContainer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    .innerContainer{
        background-color: var(--box-color);
        width: 100%;
        border-radius: 10px;

        .heading{
            h3{
                padding: 10px;
            }
        }

        .content{
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            justify-items: center;
            .indiContent{
                border: 1px solid black;
                width: max-content;
                padding: 20px;
                background-color: white;
                margin-bottom: 10px;
            }
        }
    }
}